{% extends 'v2/base.html' %}

{% block stylesheet %}
<style>
    .card-header {
        background-color: #3e9fca !important;
    }

    .m-0 {
        color: white !important;
    }

    .nav-transparent-tabs .nav-item {
            margin-bottom: 0;
            color: white !important;
        }
        .nav-transparent-tabs .nav-link {
            background: transparent;
            border: none;
            color: white; /* Unselected tab text color */
            border-radius: 0;
        }
        .nav-transparent-tabs .nav-link.active {
            background: transparent;
            border-bottom: 2px solid white; /* Selected tab highlight color */
            color: white; /* Text color for unselected tabs */
        }

</style>
{% endblock stylesheet %}

{% block navbar_content %}
<ul class="nav nav-tabs nav-transparent-tabs">
    <li class="nav-item">
        <button class="nav-link active" id="team-tab" data-bs-toggle="tab" data-bs-target="#team" type="button" role="tab" aria-controls="team" aria-selected="true">Team</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="leaderboard-tab" data-bs-toggle="tab" data-bs-target="#leaderboard" type="button" role="tab" aria-controls="leaderboard" aria-selected="false">Leaderboard</button>
    </li>
    <!-- Add more tabs as needed -->
</ul>

{% endblock navbar_content %}

{% block content %}



<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="team" role="tabpanel" aria-labelledby="team-tab">
        <div class="row px-6">
            <div class="col-12 my-4">
                <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; " class="mb-2 d-block"> Teams </h1>
            </div>

            {% for division,team_data in division_data.items %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{division}}</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>Pct</th>
                                        <th>GB</th>
                                        <th>L10</th>
                                        <th>Diff</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for team in team_data %}
                                    <tr>
                                        <td>
                                            <svg width="30" height="30">       
                                                <image xlink:href="https://www.mlbstatic.com/team-logos/{{team.id}}.svg" width="30" height="30"/>    
                                            </svg>
                                            <a href ={% url 'team' team_id=team.id %}>
                                                {{team.name}}
                                            </a>
                                        </td>
                                        <td>{{team.wins}}</td>
                                        <td>{{team.losses}}</td>
                                        <td>{{team.pct}}</td>
                                        <td>{{team.games_back}}</td>
                                        <td>{{team.last_ten_wins}}-{{team.last_ten_losses}}</td>
                                        <td>{{team.run_differential}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row px-6">
            <div class="col-12  my-4">
                <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; " class="mb-2 d-block"> News </h1>
            </div>

            {% for story in news %}
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <img src="{{story.image}}" style="max-width:100%; height: auto;width: auto;" >
                            <h4>
                                <a href="{{story.link}}">{{story.title}}</a>
                            </h4>
                            <p>
                                {{story.author}} {{story.time}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row px-6">
            <div class="col-12  my-4">
                <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; " class="mb-2 d-block"> Results </h1>
            </div>

            {% for game in game_data %}
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <tr style="background-color: white !important; ">
                                    <td>
                                        <svg width="30" height="30">       
                                            <image xlink:href="https://www.mlbstatic.com/team-logos/{{game.away_team_id}}.svg" width="30" height="30"/>    
                                        </svg>
                                        <a href ={% url 'team' team_id=game.away_team_id %}>
                                            {% if game.winner == "Away" %}
                                                <b>{{game.away_team_name}}</b>
                                            {% else %}
                                                {{game.away_team_name}}
                                            {% endif %}
                                        </a>
                                    </td>
                                    {{game.game_state}}
                                    {% if game.winner != "None" %}
                                    <td>
                                        {% if game.winner == "Away" %}
                                        <b>{{game.away_team_score}}</b>
                                        {% else %}
                                        {{game.away_team_score}}
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr style="background-color: white !important; ">
                                    <td>
                                        <svg width="30" height="30">       
                                            <image xlink:href="https://www.mlbstatic.com/team-logos/{{game.home_team_id}}.svg" width="30" height="30"/>    
                                        </svg>
                                        <a href ={% url 'team' team_id=game.away_team_id %}>
                                            {% if game.winner == "Home" %}
                                                <b>{{game.home_team_name}}</b>
                                            {% else %}
                                                {{game.home_team_name}}
                                            {% endif %}
                                        </a>
                                    </td>
                                    {% if game.winner != "None" %}
                                    <td>
                                        {% if game.winner == "Home" %}
                                        <b>{{game.home_team_score}}</b>
                                        {% else %}
                                        {{game.home_team_score}}
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade" id="leaderboard" role="tabpanel" aria-labelledby="leaderboard-tab">
        <div class="row px-6">
            <div class="col-12  my-4">
                <h1 style="color: white; font-family: 'IBM Plex Sans Condensed';"> Leaders </h1>
            </div>
        </div>
        <div class="row px-6">
            <div class="col-6">
                <h3 style="color: white; font-family: 'IBM Plex Sans Condensed'; text-align: center;"> Hitting </h3>
            </div>
            <div class="col-6">
                <h3 style="color: white; font-family: 'IBM Plex Sans Condensed'; text-align: center;"> Pitching </h3>
            </div>
        </div>
        <div  class="row px-6">
            {% for category,leader_data in leaders_data.items %}
            <div class="col-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{key}}</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th style="text-align: center;"> Team</th>
                                        <th style="text-align: center;">{{category}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for leader in leader_data %}
                                    <tr>
                                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;;">
                                            <img src="https://content.mlb.com/images/headshots/current/60x60/{{leader.player_id}}.png">
                                            <a href ={% url 'player' player_id=leader.player_id %} style="text-decoration: none;">
                                                {{leader.player}}
                                            </a>
                                        </td>
                                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; text-align: center;">
                                            <svg width="30" height="30">       
                                                <image xlink:href="https://www.mlbstatic.com/team-logos/{{leader.team_id}}.svg" width="30" height="30"/>    
                                            </svg>    
                                            <a href ={% url 'team' team_id=leader.team_id %} style="text-decoration: none; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; text-align: center;">
                                                {{leader.team}}
                                            </a>
                                        </td>
                                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; text-align: center;">{{leader.value}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}

{% endblock js %}
