<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <div class="topnav" style="background-color:#204377; overflow: hidden; height: 100px; position: relative; margin-top: 0; padding-top:0px; width: 100%;">
            <ul class="nav nav-pills" style=" display: inline-block; padding-left: 80%;margin-top: 20px;">
                <li class="active"><a id="teams-toggle" data-toggle="pill" href="#home" onclick='toggleTeamsLeaderboard(this.id);'>Teams</a></li>
                <li><a id="leaders-toggle" data-toggle="pill" href="#menu1" onclick='toggleTeamsLeaderboard(this.id);'>Leaderboard</a></li>
            </ul>
        </div>
    </head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed">
    <style>
        .table1 tr:nth-child(even){
            background: white;
        }

        .table1 tr:nth-child(odd){
            background: #dddddd;
        }
        .table1 { 
            border-radius: 13px; 
            border-spacing: 0;
        }
    </style>
<body style="background-color:#244D87;">

    <div class="teams" id="teams">

        <div class="header" style="padding-left: 10%;">
            <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;"> Teams </h1>
        </div>
    
        {% for key,value in data.items %}
            <table cellspacing="0" class="table1" style="border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
                <tr style="background-color: #3e9fca; border-radius: 6px;">
                    <th style="color: white; width: 40%; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px; text-align:left;">
                        {{key}}
                    </th>
                    <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">W</th>
                    <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">L</th>
                    <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Pct</th>
                    <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">GB</th>
                    <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">L10</th>
                    <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Diff</th>
                </tr>
                {% for team in value %}
                    
                    <tr>
                        <td> 
                            <svg width="30" height="30">       
                                <image xlink:href="https://www.mlbstatic.com/team-logos/{{team.id}}.svg" width="30" height="30"/>    
                            </svg>
                            <a href ={% url 'team' team_id=team.id %} style="width: 40%;text-decoration: none; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;">
                                {{team.name}}
                            </a>
                        </td>
                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{team.wins}}</td>
                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{team.losses}}</td>
                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{team.pct}}</td>
                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{team.games_back}}</td>
                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{team.last_ten_wins}}-{{team.last_ten_losses}}</td>
                        <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{team.run_differential}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}

        <div class="header" style="padding-left: 10%;">
            <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;"> News </h1>
        </div>
    
        {% for story in news %}
        {% endfor %}
    </div>

    <div class="leaders" id="leaders" style="display: none;">

        <div class="header" style="text-align: center;">
            <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;"> League Leaders </h1>
        </div>

        <div class="header" style="padding-left: 20%;display: inline-block;">
            <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;"> Hitting </h1>
        </div>

        <div class="header" style="display: inline-block;padding-left: 35%;">
            <h1 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;"> Pitching </h1>
        </div>

        <div style="padding-left: 5%; display: inline-block;width:100%">

            {% for key, value in leaders_data.items %}
                {% if forloop.counter == 1 or forloop.counter == 5 %}
                <div class="header" style="display: inline-block;width:45%">
                {% endif %}

                    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px;width:90%">
                        <tr style="background-color: #3e9fca; ">
                            <th style="color: white; width: 40%; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;text-align: center;">Player</th>
                            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px; text-align: center;">Team</th>
                            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;text-align: center;">{{key}}</th>
                        </tr>
                        {% for leader in value %}
                            
                            <tr>
                                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px; text-align: center;">
                                    <img src="https://content.mlb.com/images/headshots/current/60x60/{{leader.player_id}}.png">
                                    <a href ={% url 'player' player_id=leader.player_id %} style="text-decoration: none;">
                                        {{leader.player}}
                                    </a>
                                </td>
                                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;text-align: center;">
                                    <svg width="30" height="30">       
                                        <image xlink:href="https://www.mlbstatic.com/team-logos/{{leader.team_id}}.svg" width="30" height="30"/>    
                                    </svg>    
                                    <a href ={% url 'team' team_id=leader.team_id %} style="text-decoration: none; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;">
                                        {{leader.team}}
                                    </a>
                                </td>
                                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;text-align: center;">{{leader.value}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% if forloop.counter == 4 or forloop.counter == 8 %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
        function toggleTeamsLeaderboard(clicked_id) {
            if (clicked_id=="teams-toggle") {
                document.getElementById("leaders").style.display = "none";
                document.getElementById("teams").style.display = "block";
            }
            else {
                document.getElementById("leaders").style.display = "block";
                document.getElementById("teams").style.display = "none";
            }
        }
    </script>
    
</body>
</html>