<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed">
    <style>
        .table1 tr:nth-child(even){
            background: white;
        }

        .table1 tr:nth-child(odd){
            background: #dddddd;
        }
    </style>
<body style="background-color:#244D87;">
    <div class="topnav" style="background-color:#204377; overflow: hidden; height: 100px; position: relative; margin-top: 0; padding-top:0px">
        <a>Home</a>
        <a>News</a>
        <a>Contact</a>
        <a>About</a>
    </div>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">Batting Average</th>
        </tr>
        {% for leader in avg %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.avg}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">RBI</th>
        </tr>
        {% for leader in rbi %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.rbi}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">Home Runs</th>
        </tr>
        {% for leader in home_runs %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.home_runs}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">Steals</th>
        </tr>
        {% for leader in steals %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.steals}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">Wins</th>
        </tr>
        {% for leader in wins %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.wins}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">ERA</th>
        </tr>
        {% for leader in era %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.era}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">WHIP</th>
        </tr>
        {% for leader in whip %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.whip}}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table1" style="padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; width: 40%">Player</th>
            <th style="color: white;">Team</th>
            <th style="color: white;">Saves</th>
        </tr>
        {% for leader in saves %}
            
            <tr>
                <td>{{leader.player}}</td>
                <td>{{leader.team}}</td>
                <td>{{leader.saves}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>