<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed">
    <style>
        .table1 tr:nth-child(even){
            background: white;
        }

        .table1 tr:nth-child(odd){
            background: #dddddd;
        }
    </style>
<body style="background-color:#244D87;">

    {% include 'top_nav.html' %}

    <div style="padding-left: 10%;display: inline-block;">
        <img src="https://content.mlb.com/images/headshots/current/60x60/{{id}}@2x.png">
    </div>

    <div class="header" style=" display: inline-block;">
        <h3 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; margin-top: 0; margin-bottom: 0;"> {{name}} </h3>
        <h4 style="color: #3e9fca; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; display: inline-block; margin-top: 0;margin-bottom: 0;"> {{position}} </h4>
        <h4 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; display: inline-block; margin-top: 0;margin-bottom: 0;"> {{team}} </h4>
    </div>

    {% if position != 'P' %}
    <table class="table1" style="display: inline-block; padding-left: 49%; border-collapse:collapse;border-radius: 10px; margin:15px;width:45%;">
    {% else %}
    <table class="table1" style="display: inline-block; padding-left:39%; border-collapse:collapse;border-radius: 10px; margin:15px;width:45%;">
    {% endif %}
        <tr style="background-color: #244D87; ">
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> B/T </th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> Age</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> Height </th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> Weight</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> Drafted</th>
        </tr>
        <tr style="background-color: #244D87; ">
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> {{bats}}/{{throws}} </th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> {{age}}</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> {{height}} </th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> {{weight}}</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding-right: 15px;"> {{drafted}}</th>
        </tr>
    </table>

    <table cellspacing="0" class="table1" style="padding-left: 10%; float: left">
        {% if position != 'P' %}
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Year</th>
            <th style="color: white; width: 40%; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Team</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">G</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">PA</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">AB</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">R</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">H</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">2B</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">3B</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">HR</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">RBI</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SB</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">BB</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SO</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">OBP</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SLG</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">OPS</th>
        </tr>

        {% else %}
        <tr style="background-color: #3e9fca; ">
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Year</th>
            <th style="color: white; width: 40%;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Team</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">G</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">IP</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">W</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">L</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SV</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">ERA</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">WHIP</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">H</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">R</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SO</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">BB</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">HR/9</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">OPS</th>
        </tr>
        {% endif %}

        {% for season in list_of_stats %}


            {% if position != 'P' %}
            <tr>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.season}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px; text-align: center;"> 
                    {% if season.team != "Multiple"%}
                    <svg width="30" height="30">       
                        <image xlink:href="https://www.mlbstatic.com/team-logos/{{season.team_id}}.svg" width="30" height="30"/>    
                    </svg>
                    <a href ={% url 'team' team_id=season.team_id %} style="width: 40%;text-decoration: none; ">{{season.team}}</a>
                    {% else %}
                    {{season.team}}
                    {% endif %}
                </td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.gamesPlayed}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.plateAppearances}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.atBats}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.runs}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.hits}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.doubles}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.triples}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.homeRuns}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.rbi}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.stolenBases}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.baseOnBalls}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.strikeOuts}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.obp}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.slg}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.ops}}</td>
            </tr>
            {% else %}
            <tr>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.season}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;text-align: center;"> 
                    {% if season.team != "Multiple"%}
                    <svg width="30" height="30">       
                        <image xlink:href="https://www.mlbstatic.com/team-logos/{{season.team_id}}.svg" width="30" height="30"/>    
                    </svg>
                    <a href ={% url 'team' team_id=season.team_id %} style="width: 40%;text-decoration: none;">{{season.team}}</a>
                    {% else %}
                    {{season.team}}
                    {% endif %}                
                </td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.gamesPlayed}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.inningsPitched}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.wins}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.losses}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.saves}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.era}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.whip}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.hits}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.runs}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.strikeOuts}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.baseOnBalls}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.homeRunsPer9}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{season.ops}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>