<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed">
    <style>
        .table1 tr:nth-child(even){
            background: white;
        }

        .table1 tr:nth-child(odd){
            background: #dddddd;
        }

        /* toggle in label designing */
    .toggle {
        position : relative ;
        display : inline-block;
        width : 100px;
        height : 52px;
        border-radius: 30px;
        border: 2px solid gray;
    }
           
    /* After slide changes */
    .toggle:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: gray;
        top: 1px;
        left: 1px;
        transition:  all 0.5s;
    }
           
    /* Toggle text */
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
           
    /* Checkbox checked effect */
    .checkbox:checked + .toggle::after {
        left : 49px;
    }
           
    /* Checkbox checked toggle label bg color */
    .checkbox:checked + .toggle {
    }
           
    /* Checkbox vanished */
    .checkbox {
        display : none;
    }

 </style>
<body style="background-color:#244D87;">
    <div class="topnav" style="background-color:#204377; overflow: hidden; height: 100px; position: relative; margin-top: 0; padding-top:0px">
        <a>Home</a>
        <a>News</a>
        <a>Contact</a>
        <a>About</a>
    </div>

    <div style="padding-left: 10%; display: inline-block;">
        <svg width="90" height="90">       
            <image xlink:href="https://www.mlbstatic.com/team-logos/{{team_id}}.svg" width="90" height="90"/>    
        </svg>
    </div>
    <div class="header" style=" display: inline-block;position: relative; bottom: 20px;">
        <h3 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal; margin-top: 0;margin-bottom: 0;"> {{team_name}} </h3>
        <h4 style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;margin-top: 0;margin-bottom: 0;"> {{position}} {{team}} </h4>
    </div>

    <ul class="nav nav-pills" style=" display: inline-block; padding-left: 30%;">
        <li class="active"><a id="hitter-toggle" data-toggle="pill" href="#home" onclick='togglePosition(this.id);'>Hitters</a></li>
        <li><a id="pitcher-toggle" data-toggle="pill" href="#menu1" onclick='togglePosition(this.id);'>Pitchers</a></li>
    </ul>

    <!-- <input onclick='togglePosition();' type="checkbox" id="switch" class="checkbox" />
     
    <label for="switch" class="toggle">
        <p>
            Hitters    Pitchers
        </p>
    </label> -->

    <table cellspacing="0" class="table1" id="hitter" style="width:80%; table-layout: fixed ;padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Pos</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">#</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Player</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Age</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">B</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">T</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">PA</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">H</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">2B</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">3B</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">HR</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SB</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SO%</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">BB%</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">AVG</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">OBP</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">OPS</th>
        </tr>
        {% for hitter in hitter_data %}
            
            <tr>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.position}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.number}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">
                    <img src="https://content.mlb.com/images/headshots/current/60x60/{{hitter.id}}.png">
                    <a href ={% url 'player' player_id=hitter.id %} style="width: 40%;text-decoration: none;">{{hitter.name}}</a>
                </td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.age}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.bats}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.throws}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.plate_appearances}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.hits}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.doubles}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.triples}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.home_runs}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.steals}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.strikeout_percentage}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.walk_percentage}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.average}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.obp}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{hitter.ops}}</td>
            </tr>
        {% endfor %}
    </table>

    <table cellspacing="0"  class="table1" id="pitcher" style="width:100%;padding-left: 10%; border-collapse:collapse;border-radius: 10px; margin:15px; display: inline-block;display: none;">
        <tr style="background-color: #3e9fca; ">
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Pos</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">#</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Pitcher</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">Age</th>
            <th style="color: white; font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">T</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">IP</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">ERA</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SO</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">BB</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">SO%</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">BB%</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">HR/9</th>
            <th style="color: white;font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">OPS</th>
        </tr>
        {% for pitcher in pitcher_data %}
            
            <tr>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.position}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.number}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">
                    <img src="https://content.mlb.com/images/headshots/current/60x60/{{pitcher.id}}.png">
                    <a href ={% url 'player' player_id=pitcher.id %} style="width: 40%;text-decoration: none;">{{pitcher.name}}</a>
                </td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.age}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.throws}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.innings}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.era}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.strikeouts}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.walks}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.strikeout_percentage}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.walk_percentage}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.home_runs}}</td>
                <td style="font-family: 'IBM Plex Sans Condensed'; font-weight: 600; font-style: normal;padding: 15px;">{{pitcher.ops}}</td>
            </tr>
        {% endfor %}
    </table>

    <script>
        function togglePosition(clicked_id) {
            if (clicked_id=="pitcher-toggle") {
                document.getElementById("hitter").style.display = "none";
                document.getElementById("pitcher").style.display = "block";
            }
            else {
                document.getElementById("hitter").style.display = "block";
                document.getElementById("pitcher").style.display = "none";
            }
        }
    </script>
</body>
</html>